<h1>Listing orders</h1>

<table>
  <tr>
    <th>Customer fname</th>
    <th>Customer lname</th>
    <th>Customer email</th>
    <th>Customer address</th>
    <th>Customer phone</th>
    <th>Status</th>
    <th>Ordered at</th>
    <th>Delivered at</th>
    <th>Product</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.customer_fname %></td>
    <td><%= order.customer_lname %></td>
    <td><%= order.customer_email %></td>
    <td><%= order.customer_address %></td>
    <td><%= order.customer_phone %></td>
    <td><%= order.status %></td>
    <td><%= order.ordered_at %></td>
    <td><%= order.delivered_at %></td>
    <td><%= order.product_id %></td>
    <td><%= link_to 'Show', order %></td>
    <td><%= link_to 'Edit', edit_order_path(order) %></td>
    <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Order', new_order_path %>
