<!DOCTYPE html>
<html>
<head>
  <title>Asian</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="templateo_container">
  <%= render :partial => 'layouts/header' %>
  <%= yield %>
  <%= render :partial => 'layouts/footer' %>
</div>

</body>
</html>
