<!DOCTYPE html>
<html>
<head>
  <meta name="google-site-verification" content="asianfibroplast" />
  <title>AsianFibroPlast</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="templateo_container">
  <%= render :partial => 'layouts/header' %>
  <%= yield %>
  <%= render :partial => 'layouts/footer' %>
</div>

</body>
</html>
